[Unit]
Description=FreePBX telegram bot
After=multi-user.target

[Service]
Type=idle

WorkingDirectory=/opt/telegram_voicemailbot/scripts
ExecStart=/opt/telegram_voicemailbot/VirtualEnv/bin/python3 /opt/telegram_voicemailbot/scripts/bot_daemon.py


[Install]
WantedBy=multi-user.target
